
body{
    font-family : Arial, sans-sarif;
    color: #454545;
    margin : 0px;
    background-color : #f8f9f9;

}
.header {
    background-color: #1a5276;
    color: #fff;
    margin:0px;
    padding: 4rem 3rem;
    text-align: center;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;

}
h3{
    color: #2c2c2c;
}

.round-image{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
}
.hidden{
    display:none;
}
.dots{
    color:gray;
}
strong{
    font-weight:bold
}
.highlight{
    background-color : yellow;
    padding: 2px 4px;
    border-radius: 8px;
}
.work-header{
    background-color: #424949;
    color: #fff;
    margin:0px;
    padding: 4rem 3rem;
    text-align: center;
}
.home{
    text-align: left;
}
.social-icons{
    display: flex;
    gap:20px;
    justify-content : center;
    margin : 20px 0;
}
.social-icons a{
    display: inline-block;
    width: 60px;
    height:60px;
    font-size:30px;
    line-height:80px
}
